<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
namespace：命名空间，指定dao层Mapper接口的全类名
id：唯一标识一个查询/更新sql
resultType：查询的结果映射到哪个类
#{id}：从传递过来的参数中取出id值
-->
<mapper namespace="com.atguigu.mybatis.dao.EmployeeMapper">

<!--    <cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache>-->
    <!--
    eviction：缓存的移除策略
        • LRU – 最近最少使用的：移除最长时间不被使用的对象。
        • FIFO – 先进先出：按对象进入缓存的顺序来移除它们。
        • SOFT – 软引用：移除基于垃圾回收器状态和软引用规则的对象。
        • WEAK – 弱引用：更积极地移除基于垃圾收集器状态和弱引用规则的对象。
        • 默认的是LRU。
    flushInterval：缓存的刷新间隔
        缓存多长时间清空一次，默认不清空，设置一个毫秒值
    readOnly:是否只读：
        true：只读，mybatis认为所有从缓存中获取数据的操作都是只读操作，不会修改数据
              mybatis为了加快获取数据的速度，直接就会将数据在缓存中的引用交给用户，这样不安全，但速度快
        false：非只读，mybatis认为获取的数据可能会被修改
               mybatis会利用序列化&反序列的技术克隆一份新的数据给用户，这样安全，但速度慢
    如何理解mybatis二级缓存中配置的readOnly http://www.mybatis.cn/archives/748.html
    size：缓存存放多少个元素
    type=""：指定自定义缓存的全类名，实现Cache接口即可
    -->
    <cache eviction="FIFO" flushInterval="60000" readOnly="false" size="1024"></cache>

    <select id="getEmpById" resultType="emp">
        select * from tbl_employee where id = #{id}
    </select>

    <select id="getEmpById" resultType="emp" databaseId="mysql" useCache="true">
        select * from tbl_employee where id = #{id}
    </select>

    <select id="getEmpById" resultType="emp" databaseId="oracle">
        select EMPNO id,ENAME lastName from EMP where EMPNO = #{id}
    </select>

<!--    void addEmp(Employee emp);-->
    <!-- 注意parameterType可以省略，如果要写就写全类名或者别名 -->
    <!--
    获取自增主键的值：
		mysql支持自增主键，自增主键值的获取，mybatis是利用Statement的getGenreatedKeys方法（原生的jdbc也是这样滴）
		useGeneratedKeys="true"表示使用自增主键获取主键值策略
		keyProperty表示指定对应的主键属性，也就是mybatis获取到主键值以后，将这个值封装给javaBean的哪个属性
	-->
    <insert id="addEmp" parameterType="emp" useGeneratedKeys="true" keyProperty="id" databaseId="mysql">
        insert into tbl_employee(last_name,gender,email) values(#{lastName},#{gender},#{email})
    </insert>

    <!--
	获取非自增主键的值：
		Oracle不支持自增主键，Oracle使用序列来模拟自增主键
		每次插入数据的主键是从序列中拿到的值，那么如何获取到这个值呢？
	 -->
    <insert id="addEmp" databaseId="oracle">
        <!--
        keyProperty：查询出来的主键值封装给javaBean的哪个属性
        order="BEFORE"：当前sql在插入sql之前运行
               "AFTER"：当前sql在插入sql之后运行
        resultType：查出的数据的返回值类型

        BEFORE运行顺序（建议使用）：
            先运行selectKey查询id的sql，查出id值封装给javaBean的id属性，再运行插入的sql，就可以取出id属性对应的值
        AFTER运行顺序：
            先运行插入的sql（从序列中取出新值作为id），再运行selectKey查询id的sql
        -->
        <selectKey keyProperty="id" order="BEFORE" resultType="Integer">
            <!-- 编写查询主键的sql语句 -->
            <!-- BEFORE -->
            select SEQ_EMP.nextval from dual
            <!-- AFTER -->
            <!--
             select SEQ_EMP.currval from dual
            -->
        </selectKey>
        <!-- 插入时的主键是从序列中拿到的 -->
        <!-- BEFORE -->
        insert into EMP(EMPNO,ENAME)
        values(#{id},#{lastName<!-- ,jdbcType=NULL -->})
        <!-- AFTER -->
        <!--
        insert into employees(EMPNO,ENAME)
        values(SEQ_EMP.nextval,#{lastName})
        -->
    </insert>

    <!--    void deleteEmp(Employee emp);-->
    <delete id="deleteEmp">
        delete from tbl_employee where id=#{id}
    </delete>

    <!--    void updateEmp(Employee emp);-->
    <update id="updateEmp">
        update tbl_employee set last_name=#{lastName},email=#{email}
        where id=#{id}
    </update>

<!--    <select id="getEmpByLastNameAndGender" resultType="com.atguigu.mybatis.bean.Employee">-->
<!--        select * from tbl_employee where last_name=#{param1} and gender=#{param2}-->
<!--    </select>-->

    <select id="getEmpByLastNameAndGender" resultType="com.atguigu.mybatis.bean.Employee">
        select * from tbl_employee where last_name=#{lastName} and gender=#{gender} and email=#{arg2}
    </select>

    <select id="getEmpByMap" resultType="emp">
        select * from ${tableName} where last_name=#{lastName} and gender=${gender}
    </select>

    <!-- 查询的结果返回是一个集合的时候，resultType写集合中的数据元素的数据类型即可 -->
    <select id="getEmpsByLastNameLike" resultType="emp">
        select * from tbl_employee where last_name like #{lastName}
    </select>

    <select id="getEmpByIdReturnMap" resultType="map">
        select * from tbl_employee where id=#{id}
    </select>

    <select id="getEmpsByLastNameLikeReturnMap" resultType="emp">
        select * from tbl_employee where last_name like #{lastName}
    </select>

    <select id="getEmpsByDeptId" resultType="com.atguigu.mybatis.bean.Employee">
        select * from tbl_employee where d_id=#{deptId}
    </select>

</mapper>