<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mybatis.dao.EmployeeMapper">

   <select id="getEmpById" resultType="com.atguigu.mybatis.bean.Employee">
       select * from tbl_employee where id=#{id}
   </select>

    <select id="getEmps" resultType="com.atguigu.mybatis.bean.Employee">
        select * from tbl_employee
    </select>

    <insert id="addEmp">
        insert into tbl_employee(last_name,gender,email,d_id) values(#{emp.lastName},#{emp.gender},#{emp.email},#{emp.dept.id})
    </insert>

</mapper>